.Login-btn
{

  float:center;
  margin-right:20px;

}

.signup-btn
{
  float:center;
  margin-right:20px;
}

.Logout-button
{
  text-align: center;
}

.Logout-btn:hover
{
  background-color: white;
}

.form-control-inline
{
  min-width:0;
  width:auto;
  display:inline;
}


#myModal .modal-dialog
{
  width: 500px;
}

h1
{
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-position: under left;
}