{% if user.is_authenticated %}
{% load staticfiles %}
<html>
    <head>
        <title>Product Page</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
        <style>
         body
         {
             background-image: url({% static "shot4.jpg" %});
             -moz-background-size: cover;
             -webkit-background-size: cover;
             background-size: cover;
             background-position: top center !important;
             background-repeat: no-repeat !important;
             background-attachment: fixed;
         }
        </style>

    </head>
    <body>
            <div class="container-fluid">
            <h1>this is product page</h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="col-md-6">
                <div class="container">
                    <a href="{% url 'logout_url' %}" target="_top"><button type="button" class="btn Login-btn btn-success btn-md">Logout</button></a>
                </div>
            </div>
            </div>
            {# <h2><a href="{% url 'logout_url' %}">Click here to logout</a></h2> #}
    </body>
</html>
{% endif %}